.DS_Store
*.class
bin/
*~
logs.zip
*.orig
*.java._trace
*.smap
*.log

pom.xml.versionsBackup

# POMless projects
.polyglot.*

# generated sources
src-gen/
xtext-gen/

# excluded in projects when needed
# xtend-gen/

# for Maven builds
target

# for Gradle builds
build
.gradle

# for VS code node modules
node_modules
