# This runs only on PR or on master branch

name: Java CI with Maven (macOS and Windows)

on:
  push:
    paths-ignore:
      - '**.md'
    # Sequence of patterns matched against refs/heads
    branches:
      # Push events on the main branch
      - master
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    strategy:
      matrix:
        os: ['macos-latest', 'windows-latest']
      fail-fast: false
    runs-on: ${{ matrix.os }}

    name: Build on ${{ matrix.os }}
    steps:
    - name: Support longpaths
      run: git config --system core.longpaths true
    - uses: actions/checkout@v6.0.1
    - name: Set up JDK
      uses: actions/setup-java@v5.1.0
      with:
        java-version: 21
        distribution: temurin
    - name: Restore cache
      uses: actions/cache/restore@v5
      id: m2cache # note the cache id, see below for cache-hit
      with:
        path: |
          ~/.m2
          !~/.m2/**/*lorenzobettini*
        key: ${{ runner.os }}-m2-build-${{ hashFiles('**/pom.xml', '**/*.target') }}
        restore-keys: |
          ${{ runner.os }}-m2-build-
    - name: Set Maven offline option in Unix
      run: |
        echo "maven_arguments='--offline'" >> $GITHUB_ENV
      # note the use of the id 'm2cache'
      if: steps.m2cache.outputs.cache-hit == 'true' && runner.os != 'Windows'
    - name: Set Maven offline option in Windows
      run: |
        echo "maven_arguments='--offline'" | Out-File -FilePath $env:GITHUB_ENV -Append
      # In Windows the syntax for setting environment variable is different
      if: steps.m2cache.outputs.cache-hit == 'true' && runner.os == 'Windows'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.9
    - name: Show version
      run: mvn --version
    - name: Run Tycho Test Language using our POMs
      run: mvn ${{ env.maven_arguments }} -f testlanguages/tychotestlanguage/io.github.lorenzobettini.tychotestlanguage.parent/pom.xml clean verify
    - name: Run it again without source code generation (MWE2 and Xtend are skipped)
      run: mvn ${{ env.maven_arguments }} -f testlanguages/tychotestlanguage/io.github.lorenzobettini.tychotestlanguage.parent/pom.xml clean verify -DskipMWE2 -DskipXtend
    - name: Run Pure Maven Test Language using our POMs (with JaCoCo)
      run: >
         mvn
         ${{ env.maven_arguments }}
         -f testlanguages/maventestlanguage/io.github.lorenzobettini.maventestlanguage.parent/pom.xml
         clean verify
         -Pjacoco
    - name: Run it again without source code generation (MWE2 and Xtend are skipped)
      run: mvn ${{ env.maven_arguments }} -f testlanguages/maventestlanguage/io.github.lorenzobettini.maventestlanguage.parent/pom.xml clean verify -DskipMWE2 -DskipXtend
    - name: Run Xbase Tycho Language using our POMs (with JaCoCo)
      run: >
         mvn
         ${{ env.maven_arguments }}
         -f testlanguages/tychoxbasetestlanguage/io.github.lorenzobettini.tychoxbasetestlanguage.parent/pom.xml
         clean verify
         -Pjacoco
    - name: Run Tycho POMless Language using our POMs
      run: mvn ${{ env.maven_arguments }} -f testlanguages/tychopomlesstestlanguage/io.github.lorenzobettini.tychopomlesstestlanguage.parent/pom.xml clean verify
    - name: Save cache
      uses: actions/cache/save@v5
      if: always()
      with:
        path: |
          ~/.m2
          !~/.m2/**/*lorenzobettini*
        key: ${{ runner.os }}-m2-java-${{ matrix.java }}-${{ hashFiles('**/pom.xml', '**/*.target') }}
    - name: Archive Test Results
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: test-results-${{ runner.os }}
        path: '**/target/surefire-reports'
    - name: Archive Logs
      uses: actions/upload-artifact@v6
      if: ${{ failure() || cancelled() }}
      with:
        name: logs-${{ runner.os }}
        path: '**/target/**/*.log'
