# This always run (push and PR)

name: Java CI with Maven (Linux)

on:
  push:
    paths-ignore:
     - '**.md'
  pull_request:
    paths-ignore:
     - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 21 ]
# This is not requested anymore, thanks to Google Guice 5
#        include:
#          - java: 17
#            maven_opts: --add-opens java.base/java.lang=ALL-UNNAMED
      fail-fast: false
    env:
      MAVEN_OPTS: ${{ matrix.maven_opts }}

    name: Build with Java ${{ matrix.java }} on Linux
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5.1.0
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: Restore cache
      uses: actions/cache/restore@v5
      id: m2cache # note the cache id, see below for cache-hit
      with:
        path: |
          ~/.m2
          !~/.m2/**/*lorenzobettini*
        key: ${{ runner.os }}-m2-java-${{ matrix.java }}-${{ hashFiles('**/pom.xml', '**/*.target') }}
        restore-keys: |
          ${{ runner.os }}-m2-java-${{ matrix.java }}-
    - name: Set Maven offline option
      run: |
        echo "maven_arguments='--offline'" >> $GITHUB_ENV
      if: steps.m2cache.outputs.cache-hit == 'true' # note the use of the id 'm2cache'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.9
    - name: Show version
      run: mvn --version
    - name: Run Tycho Test Language using our POMs
      run: xvfb-run mvn ${{ env.maven_arguments }} -f testlanguages/tychotestlanguage/io.github.lorenzobettini.tychotestlanguage.parent/pom.xml clean verify
    - name: Run it again without source code generation (MWE2 and Xtend are skipped)
      run: xvfb-run mvn ${{ env.maven_arguments }} -f testlanguages/tychotestlanguage/io.github.lorenzobettini.tychotestlanguage.parent/pom.xml clean verify -DskipMWE2 -DskipXtend
    - name: Run Pure Maven Test Language using our POMs (with JaCoCo)
      run: >
         mvn
         ${{ env.maven_arguments }}
         -f testlanguages/maventestlanguage/io.github.lorenzobettini.maventestlanguage.parent/pom.xml
         clean verify
         -Pjacoco
    - name: Run it again without source code generation (MWE2 and Xtend are skipped)
      run: >
         mvn
         ${{ env.maven_arguments }}
         -f testlanguages/maventestlanguage/io.github.lorenzobettini.maventestlanguage.parent/pom.xml
         clean verify
         -DskipMWE2 -DskipXtend
    - name: Run Xbase Tycho Language using our POMs (with JaCoCo)
      run: >
         xvfb-run mvn
         ${{ env.maven_arguments }}
         -f testlanguages/tychoxbasetestlanguage/io.github.lorenzobettini.tychoxbasetestlanguage.parent/pom.xml
         clean verify
         -Pjacoco
    - name: Run Tycho POMless Language using our POMs
      run: xvfb-run mvn ${{ env.maven_arguments }} -f testlanguages/tychopomlesstestlanguage/io.github.lorenzobettini.tychopomlesstestlanguage.parent/pom.xml clean verify
    - name: Save cache
      uses: actions/cache/save@v5
      if: always()
      with:
        path: |
          ~/.m2
          !~/.m2/**/*lorenzobettini*
        key: ${{ runner.os }}-m2-java-${{ matrix.java }}-${{ hashFiles('**/pom.xml', '**/*.target') }}
    - name: Archive p2 Repositories
      uses: actions/upload-artifact@v6
      if: matrix.java == '11'
      with:
        name: p2-repositories
        path: '**/target/repository'
    - name: Archive Test Results
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: test-results-${{ runner.os }}
        path: '**/target/surefire-reports'
    - name: Archive Logs
      uses: actions/upload-artifact@v6
      if: ${{ failure() || cancelled() }}
      with:
        name: logs-${{ runner.os }}
        path: '**/target/**/*.log'
